.container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    width: 96vw; 
  }
  
  .content {
    display: flex;
    margin-top: 60px;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    
   .content {
    flex-direction: column;
    margin: 0 auto;
  
   }
   .container{
    margin: 0 auto;
   
   }
  }
  