/* Section Container 
.cardSection {
  background-color: black;
  padding: 4rem 1rem;  
  text-align: center;
  width: 100vw;
  margin: 0 auto;
}*/

/* Cards Container */
.cardsContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-inline: auto;
  background-color: #0e1011;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 80vw;
  
  /*background-color: gray;
  background-color: #0e1011;

   background-color: aqua; */
}

/* Individual Card */
.card {
  /* width: 400px;
    height: 500px; 
    background-color:navajowhite;*/
  padding: 4rem 2rem; 
  margin: 0 auto;
  background-color: #0e1011;
  
}

.cardSection{
 /* background-color: darkturquoise;*/
  padding-top: 0.5rem;
  padding-bottom: 4rem;
  background-color: #f5f5f5;
  /*background: #f1f7f3;*/
}

.card:hover {
  background-color: #37c26c ;
  color: black;
  transition:
    transform 2s ease,
    box-shadow 0.6s ease;
  transform: scale(1.1);
  margin: 2rem 1rem;
}

/* Card Title */
.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  /*color: #222;*/
  color:aliceblue;
  margin-bottom: 1rem;
  text-align: left;
}


/* Card Title */
.cardTitle:hover {
  font-size: 1.5rem;
  font-weight: bold;
  /*color: #222;*/
  color:black;
  
 
}

/* Card Description */
.cardDescription {
  font-size: 1rem;
  color: white;
  line-height: 1.6;
  flex-wrap: wrap;
  text-align: left;
  padding-top: 1rem;
}


.headerText{
  /*font-size: 3em;*/
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-align: center;
  padding-bottom:1rem ;
  color:#010101;
}

.secondaryText{
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  text-align: center;
  font-weight: normal;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.4;
  color:#333333;
}


/* Responsive Design */
@media (width <= 768px) {
  .cardSection{
    padding-top: 4rem;
  }

  .cardsContainer {
    flex-direction: column;
    align-items: center;
    width: 99%;
    margin-bottom: 2rem;
    margin-inline: auto;
    top: 2rem;
 }

  .card {
    
    padding: 1rem;
    margin-inline: auto;
    padding-bottom: 4rem;
 }

  .cardDescription {
    margin: 0 auto;
 }

  .cardSection {
    margin-inline: auto;
  

 ;}
}

.divider {
  height: 2px; /* Thickness of the divider */
  width: 90%; /* Width of the divider */
  background-color: #0e1011; /* Color of the divider */
}
