/* Section Container */
.cardSection {
  background-color: whitesmoke;
  
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

/* Cards Container */
.cardsContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-inline: auto;
  background-color: #0e1011;

  /* background-color: aqua; */
}

/* Individual Card */
.card {
  /* width: 400px;
    height: 500px; 
    background-color:navajowhite;
  padding: 5rem 1rem; */
  margin: 0 auto;
  background-color: #0e1011;
  
}

.card:hover {
  background-color: #efc4d6;
  color: black;
  transition:
    transform 2s ease,
    box-shadow 0.6s ease;
  transform: scale(1.1);
}

/* Card Title */
.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  /*color: #222;*/
  color:aliceblue;
  margin-bottom: 1rem;
  text-align: left;
}

/* Card Description */
.cardDescription {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  flex-wrap: wrap;
  text-align: left;
  padding-top: 1rem;
}

/* Responsive Design */
@media (width <= 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
    width: 99%;
    margin-bottom: 2rem;
    margin-inline: auto;
 }

  .card {
    width: 99vw;
    padding: 1rem;
    margin-inline: auto;
    padding-bottom: 4rem;
 }

  .cardDescription {
    margin: 0 auto;
 }

  .cardSection {
    margin-inline: auto;
 ;}
}

.divider {
  height: 2px; /* Thickness of the divider */
  width: 90%; /* Width of the divider */
  background-color: #0e1011; /* Color of the divider */
}
