.carouselWrapper {
    width: 100%;
    overflow: hidden; /* Hide overflowing content */
    position: relative;
    background: linear-gradient(to bottom, #fff, #f8f8f8);
    padding: 20px;
  }
  
  .carousel {
    display: flex;
    gap: 20px;
    animation: scroll-left 20s linear infinite; /* Animation to scroll images */
    will-change: transform; /* Optimize for animation */
  }
  
  .carouselItem {
    flex: 0 0 auto; /* Ensure fixed item sizes */
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  }
  
  .image {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(0.8) contrast(1.2) saturate(1.1); /* Add color filter */
  }
  
  /* Keyframes for scrolling effect */
  @keyframes scroll-left {
    0% {
      transform: translateX(0); /* Start at original position */
    }

    100% {
      transform: translateX(-50%); /* Move left by the full width */
    }
  }

  
  
  /* Duplicate images to ensure seamless scrolling */
  .carousel {
    display: flex;
  }

  .carouselWrapper:hover .carousel {
    animation-play-state: paused;
  }

  .carousel::before,
  .carousel::after {
    content: "";
    flex-shrink: 0;
  }

  .carouselItem:last-of-type {
    margin-right: -60%; /* Prevent blank space at the end */
  }
  