/* Section Styling */
.otherServicesSection {
    padding: 4rem 2rem;
    background-color: #f8f9fa;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #ffd700, #00b4d8);
    background-size: 300% 300%;
    opacity: 0.8;
    z-index: 1;
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.8s ease-in-out;
  }
  
  .sectionTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #333;
  }
  
  /* Cards Container */
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  /* Card Styling */
  .card {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    
  }
  
  .card:hover .cardBackground {
    animation: rotateGradient 3s infinite linear;
    transform: scale(1.2);
    opacity: 0.9;
  }
  
  .card:hover .cardContent {
    transform: translateY(-10px);
    transition: transform 0.5s ease;
  }
  
  /* Background Animation */
  .cardBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #ffd700, #00b4d8);
    background-size: 300% 300%;
    opacity: 0.8;
    z-index: 1;
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.8s ease-in-out;
  }
  
  /* Gradient Animation */
  @keyframes rotateGradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Card Content */
  .cardContent {
    position: relative;
    z-index: 2;
    padding: 1.5rem;
    color: #fff;
    text-align: center;
  }
  
  .cardTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  .cardDescription {
    font-size: 0.9rem;
    color: #e6e6e6;
    line-height: 1.4;
  }
  