:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
/* styles/globals.css */

body {
/*background: linear-gradient(135deg, #ACE1AF, #B0EBB4, #BFF6C3, #E0FBE2);*/
  /*background: #ffffff;*/
  background-size: 400% 400%;
  animation: gradientBackground 10s infinite;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    
    scroll-behavior: smooth;
  
  }
}
