
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  margin-inline: auto;
  top: 4rem;
  bottom: 4rem;
  
  width: 90vw;
  position: relative;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Heading Animation */
.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

/* Description Animation */
.description {
  font-size: 1.2rem;
  color: #555;
  max-width: 600px;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.2s ease forwards;
}

/* Button Animation */
.contactButton {
  font-size: 1.2rem;
  color: #fff;
  background: black;
  border: none;
  padding: 2rem 4rem;
  
  
    cursor: pointer;
    transition: background 0.3s, transform 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease forwards;
    width: 20vw;
}

.contactButton:hover {
  background: #0056b3;
  transform: scale(1.05);
}

/* Button Hover Effect */


.contactButton::after {
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #fff;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.contactButton:hover::after {
  transform: scaleX(1);
}

/* Button Text Animation */
.contactButton span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.contactButton:hover span {
  transform: translateY(-5px); /* Moves the text upward */
}

/* Keyframes for fadeInUp Animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Responsive Design */
@media (max-width: 768px) {
  .start-project-heading {
    font-size: 2rem;
  }


  .container {
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    text-align: center;
    border-radius: 10px;
    
    margin-inline: auto;
    
    width: 100vw;
    
  }


  

  .start-project-description {
    font-size: 1rem;
  }

  .contactButton {
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    width: 90vw;
  }
}
