.header {
    background-color: #B9B9AA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100vw;
}

.container {
    display: flex;
    justify-content: space-between;
    /* justify-content: left; */
    align-items: center;
    padding: 16px;
    max-width: 98vw;
    /* max-width: 1400px; */
    margin: auto;
    /* gap: 20px; */
}

.logoButton {
    background: none;
    border: none;
}

.logoImage {
    /* height: 48px; */
    width: "auto";
    height: "auto";
}

.nav {
    display: flex;
    align-items: center;
    /* align-items: left; */
    justify-self: left;
    gap: 30px;
}

.desktopNav {
    display: none;
}

.nav a,
.nav button {
    /* color: white; */
    color: black;
    text-decoration: none;
    font-weight: normal;
}

/* .active {
    font-weight: bold;
    color: red;
    } */
.nav a.active,
.nav button.active {
    font-weight: bold;
    /* color: red; */
    color: black;
}

.nav a:hover,
.nav button:hover {
    color: red;
}

.dropdown {
    position: relative;
}

.dropdownToggle {
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    position: absolute;
    background: gray;
    padding: 8px;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.desktopNav>.logoutButton {
    /* background: transparent; */
    background-color: rgb(100, 100, 100);
    border: none;
    color: red;
    padding: 5px 10px;
    border-radius: 5px;
}

.desktopNav>.logoutButton:hover {
    /* background: transparent; */
    background: rgb(35, 35, 35);
    /* border: none; */
    color: white;
    /* padding: 5px 10px; */
    /* justify-self: "left"; */
}

.mobileNav>.logoutButton {
    background: transparent;
    /* background: rgb(35, 35, 35); */
    border: none;
    color: rgb(228, 65, 65);
    /* padding: 5px 10px; */
    text-align: left;
}

.desktopNav>.searchButton {
    background: transparent;
    /* background-color: rgb(100, 100, 100); */
    border: none;
    color: red;
    padding: 5px 10px;
    border-radius: 5px;
}

.mobileMenu {
    /* display: flex; */
    background-color: #B9B9AA;
    /* border: 0; */
    padding: 5px;
}

.mobileMenu>button {
    /* background: transparent; */
    background: #B9B9AA;
    /* display: flex; */
    /* padding: 5px; */
    /* border-radius: 10px; */
    border: 0px;
}

.mobileNav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* background: rgb(30, 29, 29); */
    background: white;
    padding: 16px;
    color: black;
}

.mobileNav a.active {
    font-weight: bold;
    /* color: red; */
    color: black;
}

.searchButton {
    background: transparent;
    /* background-color: rgb(51, 47, 47); */
    border: none;
    /* color: red; */
    padding: 5px 10px;
    border-radius: 5px;
}

.icon {
    transition: transform 0.2s;
    font-size: 18px;
    color: black;
}

.searchIcon {
    font-size: 14px;
    color: black;
}

.icon:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    .desktopNav {
        display: flex;
    }

    .mobileMenu,
    .mobileNav {
        display: none;
    }

    .container {
        /* max-width: 1400px; */
        max-width: 95vw;
    }
}