.container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap:1rem;
    width: 96vw; 
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 70vw;

    
   /* background-color: burlywood;*/
  }

  @media (max-width: 768px) {
    
   .content {
    flex-direction: column;
    margin: 0 auto;
    width: 98vw;
    
  
   }
   .container{
    margin: 0 auto;
   
   }
  }
  