.carouselWrapper {
  width: 99vw;
  overflow: hidden; /* Hide anything outside the container */
  position: relative;
  
  padding-top: 6rem;
  padding-bottom: 4rem;
  margin-inline: auto;
  background-color:#FFFFFF;
}

.carousel {
  display: flex;
  animation: scroll 40s linear infinite; /* Continuous scrolling */
  will-change: transform;
  /* filter: brightness(0.8) contrast(1.2) saturate(1.1); */
}

.carouselItem {
  flex: 0 0 auto; /* Prevent flexbox shrinking */
  width: 300px; /* Width of each image */
  height: 300px; /* Height of each image */
}


.headerText{
  /*font-size: 3em;*/
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-align: center;
  padding-bottom:1rem ;
  color:#010101;
}

.secondaryText{
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  text-align: center;
  font-weight: normal;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.4;
  color:#333333;
}

@media (width <= 768px) {
  .carouselItem {
    width: 30vw; /* Smaller width for smaller screens */
 }

  .carouselWrapper {
    overflow: hidden; /* Hide anything outside the container */
    position: relative;
    background: #FFFFFF;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    border-width: 0.5rem;
    border-color: black;
 }

  .image {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(0.8) contrast(1.2) saturate(1.1); /* Add color filter */
 }
}

@media (width <= 768px) {
  .image {
    margin: 0.1rem;
    padding: 1rem;
    border-width: 0.1px;
 }
}

@media (width <= 480px) {
  .carouselItem {
    width: 150px; /* Even smaller width */
    height: 150px;
 ;}
}

@media (width <= 480px) {
  .image {
    margin: 0.1rem;
    padding: 4rem;
    border-width: 1px;
 ;}
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 1rem;
  border-width: 6px;
  padding: 2rem;
}

/* Keyframes for continuous scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0); /* Start at initial position */
 }

  100% {
    transform: translateX(-50%); /* Move left by the total width of the items */
 }
}
